<h2>Firmen</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name 1</th>
            <th>Name 2</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="firma in firmen">
            <td><a ng-click="showFirma(firma.Id)">{{firma.Name1}}</a></td>
            <td>{{firma.Name2}}</td>
            <td><btn-remove action="removeFirma(firma)" title="entfernen"></btn-remove></td>
        </tr>
    </tbody>
</table>

    <div ng-show="firma">
        <h3>Firma</h3>
        <form>
            <label>Name 1:</label><input type="text" ng-model="firma.Name1"/>
            <label>Name 2:</label><input type="text" ng-model="firma.Name2"/>
        </form>
        <ul>
            <li ng-repeat="abteilung in firma.Abteilungen">{{abteilung.Name}}</li>
        </ul>
    </div>
